[submodule "simulator/lib/plog"]
	path = simulator/lib/plog
	url = https://github.com/SergiusTheBest/plog
[submodule "simulator/lib/OpenNN"]
	path = simulator/lib/OpenNN
	url = https://github.com/Artelnics/OpenNN
[submodule "simulator/lib/libnoise"]
	path = simulator/lib/libnoise
	url = https://github.com/eXpl0it3r/libnoise
[submodule "simulator/lib/EventBus"]
	path = simulator/lib/EventBus
	url = https://github.com/danquist/EventBus
